/* Réinitialisation CSS */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100%; /* Pour occuper toute la largeur */
    box-sizing: border-box; /* Pour s'assurer que la padding et la
     bordure sont incluses dans la largeur totale */
     overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* Définir les Polices et Couleurs */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: 100%;
}

.logo,
h1 {
    font-family: 'Shrikhand', cursive;
    width: 100%;
}

/* Couleurs */
.primary {
    color: #9356DC; /* Couleur Primaire */
}

.secondary {
    color: #FF79DA; /* Couleur Secondaire */
}
/* Styles pour Header */
header {
    text-align: center;
    padding: 1rem 0;
    background-color: #FFF; 
    width: 100%; /* Utilisez 100% plutôt que 100vw pour éviter les problèmes de défilement */
}
/* LOGO GPS ET BARRE DE RECHERCHE */
.search-container {
    background-color: lightgrey;
    padding: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.gps-logo {
    margin-right: 0rem; 
    font-size: 1.5rem; 
}

.search-input {
    text-align: center;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}
/* Couleur du texte du placeholder */
.search-input::placeholder {
    color: black;
}
/* STYLE POUR BUTTON ET TITRE*/

/* Style général pour centrer le contenu et ajouter des marges */
.container {
    margin: 0 auto; 
    padding: 0 2rem; 
    max-width: 80%; 
    text-align: center; 
}

/* Style pour le Titre H1 */
h1 {
    font-weight: bold;
    margin-bottom: 1.5rem; 
}

/* Style pour le Paragraphe */
p {
    font-size: 2rem;
    margin-bottom: 1.5rem; 
}

/* Style pour le Bouton */
.explore-button {
    display: inline-block; 
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(135deg, #9356DC, #FF79DA);
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    transition: all 0.3s;  /* Ajout d'une transition pour un effet plus fluide */
}

.explore-button:hover {
    background: linear-gradient(135deg, #8152BC, #EE69D2);  /* Changement de couleur légèrement plus foncé */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  /* Ajout d'une ombre pour un effet de soulèvement */
    transform: translateY(-3px);  /* Légère montée du bouton */
}

/* Style titre */

/*box complette */
.restaurant-box {
    cursor: pointer; /* Changement du curseur en main lorsque vous survolez l'élément */
    transition: transform 0.2s; /* Animation douce lors du clic */
    width: 100%;
}

.restaurant-box:active {
    transform: scale(0.98); /* Réduit légèrement l'élément lorsqu'il est cliqué */
}
.box {
    background-color: #FFF; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 2.5%; 
    width: 100%; 
    height: 50px;
}
.text-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-mask {
    position: relative;
    display: inline-block;  /* Pour s'assurer que le masque est de la taille de l'icône */
    width: 3%;  /* ou la taille de votre icône */
    margin-left: 10%; 
    cursor: pointer;
    margin-top: -18px;
}

.under-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: linear-gradient(135deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
}

.over-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: grey;
    transition: color 0.3s;
}

.icon-mask:hover .over-icon {
    color: transparent;
}

/* icone combine */
.icon-combined {
    margin-left: 10%; 
    display: flex;
    align-items: center;
    margin-top: -5px; 
}

.icon-combined .fas.fa-ellipsis-v {
    margin-right: 5px; 
    
}


/* Rond avec numero */

.step-container h1 {
    margin-top: 3rem; 
    margin-bottom: 1rem; 
    font-weight: bold;
    text-align: left;
    font-style: normal;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; 
    position: relative; 
}
.step-text {
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: 18px;
}
.step-text.decalage {
    position: relative;
    left: 2px; /* Ajustez cette valeur pour obtenir le décalage souhaité */
}
.step-text.decalagedroite {
    position: relative;
    left: -5px; /* Ajustez cette valeur pour obtenir le décalage souhaité vers la droite */
}

.circle {
    position: absolute;
    left: 3vw;
    background-color: #9356DC;
    color: #FFF;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    bottom: 10px;
    PADDING: 10PX;
    MARGIN-LEFT: 10PX;
}

.circle:hover {
    background-color: #8152BC;  /* Slightly darker shade for hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* Shadow for a floating effect */
    transform: translateX(-50%) scale(1.05);  /* Slight enlargement for emphasis */
}

.restaurant-section {
    background-color: #f0f0f0; 
    padding: 20px 10px;
    overflow: hidden;
    width: 100%;   
}

.restaurant-section h1 {
    margin-bottom: 20px; 
}

html, body {
    overflow-x: hidden;
}

.restaurant-box {
    background-color: #FFF; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    position: relative; 
    overflow: hidden; 
}

.restaurant-box .img-container {
    width: 100%; 
    height: 65%; 
    overflow: hidden; 
    position: relative; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}
/* IMAGE */
.restaurant-box img {
    width: 100%; 
    height: 150px;
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; /
}


.restaurant-box h1, .restaurant-box h2 {
    margin-left: 5px; 
    font-weight: normal;
}
.h1-decale {
    padding-left: 20px;
}

.new-label {
    background-color: #40E0D0; 
    color: #006400; 
    border-radius: 5px;
    padding: 5px; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 


.heart-icon {
    position: relative;
    width: 24px; 
    height: 24px; 
    font-size: 24px;
    margin-right: 20px;
}

.under-heart {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: linear-gradient(135deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1;
    transition: opacity 0.3s; /* Ajout d'une transition pour l'opacité */
    opacity: 0; /* Par défaut, c'est transparent */
}

.over-heart {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    z-index: 2;
}

.heart-icon:hover .under-heart {
    opacity: 1; /* Lors du survol, le cœur plein devient visible */
}

.heart-icon:hover .over-heart {
    opacity: 0; /* Lors du survol, le cœur vide est masqué */
}

/* FOOTER */
footer {
    background-color: rgb(40, 36, 36); 
    color: #FFF; 
    padding: 20px; 
    text-align: left;
    width: 100%; 
}

.footer-content h1 {
    font-weight: bold; 
}

.footer-line {
    margin-top: 10px; 
    margin-left: 5px;
    display: flex; 
    align-items: center; 
}
.footer-email-link {
    text-decoration: none;  /* supprime le soulignement */
    color: inherit;         /* utilise la couleur du texte parent */
}

.footer-email-link:hover {
    text-decoration: underline; /* ajoute un soulignement lors du survol pour indiquer qu'il s'agit d'un lien cliquable */
}

.footer-line i {
    margin-right: 10px; 
}

/* Styles pour le loader */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1s 2s forwards;
}

.loader {
    border: 16px solid #f3f3f3; /* Couleur de fond */
    border-top: 16px solid #3498db; /* Couleur du loader */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}


/* Styles pour Mobile */
@media (min-width: 768px) {
    body {
        width: 90%;
        margin: 0 auto; /* Centrer le contenu */
    }
    .container p {
        font-size: 1rem; /* ou n'importe quelle autre taille que vous préférez */
    }

    /* Circle */


.steps-wrapper {
    display: flex;
    justify-content: space-between; /* pour espacer les éléments .step */
    margin-bottom: 30px;
}

.step {
    display: flex; 
    align-items: center; 
    flex: 1; 
    margin-bottom: 0; 
    position: relative; /* Ajouté pour positionner le cercle par rapport à ce conteneur */
    padding-left: 25px; /* Ajouté pour éviter que le contenu de la boîte ne soit trop proche du cercle */
}

.circle {
    position: absolute; /* Pour positionner le cercle par rapport au .step */
    left: 15px; /* 20% du cercle touche le .step */
    margin-right: 0; /* Suppression de la marge à droite puisque nous utilisons la position absolue */
}
.icon-mask, .icon-combined {
    margin-right: 20px; /* Ajustez cette valeur selon vos besoins */
}
.icon-combined .icon-mask {
    margin-right: 5px; /* Annule la marge pour les icônes à l'intérieur de .icon-combined */
}

.restaurant-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.restaurant-box {
    width: calc(50% - 15px);
}

/* Ajustement pour le titre et le texte */
.restaurant-box h1,
.restaurant-box h2 {
    margin: 0px 0; /* Ajoute de l'espace au-dessus et en dessous du titre et du texte */
}
/* Styles généraux du pied de page */

/* Conteneur principal du pied de page */
.footer-wrapper {
    display: flex;
    justify-content: flex-end; /* Espace entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    width: 100%;
}

/* Contenu du pied de page (éléments du pied de page) */
.footer-content {
    display: flex;
    align-content: center; /* Modifié pour aligner les lignes flexibles */
    justify-content: space-between;
    width: 80%;
}
/* Supprimez la propriété white-space: nowrap; pour ces classes */
.footer-legal,
.footer-contact,
.footer-propose,
.footer-partner {
    order: 1;
}

/* Chaque groupe d'éléments (logo, mentions légales, contact, etc.) */
.footer-group {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    margin-left: 20px; /* Espace à gauche de chaque groupe */
}

/* Style spécifique pour le logo "Oh myfood" */
.footer-logo {
    order: 5; /* Ordre d'affichage */
    margin-left: auto; /* Pousse "Oh myfood" tout à droite */
    margin-top: 20px;
    font-size: 10px; /* Taille de police */
    font-weight: bold; /* Texte en gras */
}


}
