/* Réinitialisation CSS */
*
{
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100%; /* Pour occuper toute la largeur */
    box-sizing: border-box; /* Pour s'assurer que la padding et la
     bordure sont incluses dans la largeur totale */
     overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* Définir les Polices et Couleurs */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    position: relative; /* Assurez-vous d'avoir cette ligne */
}


/* Couleurs */
.primary {
    color: #9356DC; /* Couleur Primaire */
}

.secondary {
    color: #FF79DA; /* Couleur Secondaire */
}
/* Styles pour Header */

.logo, h1 {
    font-family: 'Shrikhand', cursive;
    width: 100%;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;  /* Adjust this value to move the icon further from the edge if needed */
}

/* Style pour le Titre H1 */
h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem; 
}

/* Style pour le Paragraphe */
p {
    font-size: 2rem;
    margin-bottom: 1.5rem; 
}

/* Style titre */

html, body {
    overflow-x: hidden;
}

.restaurant-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: block;
}
/* main contenair */
.block-gray {
    background-color: 
    
#F6F6F6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    top: -20px; /* Ajustement pour recouvrir seulement 5% de l'image */
    display: flex; /* Ajouté pour la mise en page flex */
    align-items: center; /* Aligne les éléments verticalement au centre */
    justify-content: space-between; /* Place un espace maximal entre les éléments */
    padding: 10px 20px; /* Ajouté pour donner un peu d'espace autour des contenus */
    flex-direction: column;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.entree-title {
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid 
    #99E2D0;
    text-align: left;
    display: inline-block;  /* Ajouté pour limiter le soulignement à la largeur du mot */
}

.francaise-title {
    margin: 0px; /* Ajustez cette valeur selon vos besoins */
}
.entree-container {
    width: 100%; 
    text-align: left;   /* Ceci est un exemple. Vous pouvez ajuster cette valeur pour aligner le h2 avec le h1 */
}


/*  heart */
.heart-icon {
    position: relative;
    width: 24px; 
    height: 24px; 
    font-size: 24px;
    margin-right: 20px;
}

.under-heart {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: linear-gradient(135deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1;
    transition: opacity 0.3s; /* Ajout d'une transition pour l'opacité */
    opacity: 0; /* Par défaut, c'est transparent */
}

.over-heart {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    z-index: 2;
}

.heart-icon:hover .under-heart {
    opacity: 1; /* Lors du survol, le cœur plein devient visible */
}

.heart-icon:hover .over-heart {
    opacity: 0; /* Lors du survol, le cœur vide est masqué */
}

.footer-group.footer-logo h1 {
    font-size: 20px;  /* Ajustez cette valeur à la taille que vous préférez */
    text-align: left;
}

/* Style pour le Bouton */

.container {
    text-align: center; /* Centre le texte horizontalement */
}
.explore-button {
    display: inline-block; 
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(135deg, #9356DC, #FF79DA);
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    transition: all 0.3s;  /* Ajout d'une transition pour un effet plus fluide */
    align-content: center;
}

.explore-button:hover {
    background: linear-gradient(135deg, #8152BC, #EE69D2);  /* Changement de couleur légèrement plus foncé */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  /* Ajout d'une ombre pour un effet de soulèvement */
    transform: translateY(-3px);  /* Légère montée du bouton */
}


/* BLOC de 3 */
.items-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: background-color 0.3s;
    position: relative;
}

.description-et-titre {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.item-description {
    font-size: 0.9em;
    margin: 0;
}

.item-price-container {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
}

.item-price {
    margin-right: 5px;
    transition: margin-right 0.3s ease;
    font-size: 14px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    transition: background-color 0.3s;
    overflow: hidden;
}

.description-et-titre {
    flex: 1; /* occuper autant d'espace que possible */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-price-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 17px;
}

.hidecheckbox {
    width: 0px; 
    height: 80px;
    background-color: 
    #99E2D0;
    transition: width 1s; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.item:hover .hidecheckbox {
    width: 80px; 
}
.item-price-container {
    transition: margin-left 0.9s; 
}
.fas.fa-check {
    color: 
    #99E2D0;  /* Couleur turquoise pour le tick */
    background-color: white;  
    border-radius: 50%;       
    padding: 10px;            
    box-shadow: 0 0 5px rgba(0,0,0,0.1);  
}
/* FOOTER */
footer {
    background-color: rgb(40, 36, 36); 
    color: #FFF; 
    padding: 20px; 
    text-align: left;
    width: 100%; 
}

.footer-content h1 {
    font-weight: bold; 
}

.footer-line {
    margin-top: 10px; 
    margin-left: 5px;
    display: flex; 
    align-items: center; 
}
.footer-email-link {
    text-decoration: none;  /* supprime le soulignement */
    color: inherit;         /* utilise la couleur du texte parent */
}

.footer-email-link:hover {
    text-decoration: underline; /* ajoute un soulignement lors du survol pour indiquer qu'il s'agit d'un lien cliquable */
}

.footer-line i {
    margin-right: 10px; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.item {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.item:nth-child(1) {
    animation-delay: 0.5s;
}

.item:nth-child(2) {
    animation-delay: 1s;
}

.item:nth-child(3) {
    animation-delay: 1.5s;
}

/* Styles pour Mobile */
@media (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        
    }
    .block-gray {
        width: 70%;
        margin: 0 auto;  /* Pour centrer le contenu horizontalement */
        background-color: #f2f2f2; /* Vous pouvez ajuster cette couleur en fonction de vos besoins */
        /* Ajoutez tout autre style que vous souhaitez pour <main> ici */
    }
    /* Styles généraux du pied de page */

/* Conteneur principal du pied de page */
.footer-wrapper {
    display: flex; 
    align-items: center; 
    width: 100%;
    margin-left: 100px;
}

/* Contenu du pied de page (éléments du pied de page) */
.footer-content {
    display: flex;
    align-content: center; 
    justify-content: space-between;
    width: 80%;
}

/* Supprimez la propriété white-space: nowrap; pour ces classes */
/* Notez que j'ai supprimé cette section car elle n'avait aucun impact visible dans le code que vous avez fourni. Si nécessaire, vous pouvez ajouter la suppression de white-space. */

/* Chaque groupe d'éléments (logo, mentions légales, contact, etc.) */
.footer-group {
    display: flex;
    align-items: center; 
    margin-left: 20px; 
}

/* Style spécifique pour le logo "Oh myfood" */
.footer-logo {
    order: 5; 
    margin-left: auto; 
    margin-top: 20px;
    font-size: 10px; 
    font-weight: bold; 
}
.custom-title2 {
    font-family: 'Shrikhand', cursive; /* Applique la police spécifique */
    font-weight: bold; /* Rend le texte gras */
    color: white; /* Couleur du texte (blanc) */
    margin-left: 100px;
}


.footer-propose {
    order: 1;
}

.footer-partner {
    order: 2;
}

.footer-legal {
    order: 3;
}

.footer-contact {
    order: 4;
}
.footer-group.footer-logo h1 {
    font-size: 18px;  /* Ajustez cette valeur à la taille que vous préférez */
    margin-left: 25px;
    margin-top: 1px;
}
}


