/* Réinitialisation CSS */
*
{
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100%; /* Pour occuper toute la largeur */
    box-sizing: border-box; /* Pour s'assurer que la padding et la
     bordure sont incluses dans la largeur totale */
     overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* Définir les Polices et Couleurs */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: 100%;
    position: relative; /* Assurez-vous d'avoir cette ligne */
}


/* Couleurs */
.primary {
    color: #9356DC; /* Couleur Primaire */
}

.secondary {
    color: #FF79DA; /* Couleur Secondaire */
}
/* Styles pour Header */

.logo, h1 {
    font-family: 'Shrikhand', cursive;
    width: 100%;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;  /* Adjust this value to move the icon further from the edge if needed */
}

/* Style pour le Titre H1 */
h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem; 
}

/* Style pour le Paragraphe */
p {
    font-size: 2rem;
    margin-bottom: 1.5rem; 
}

/* Style titre */

html, body {
    overflow-x: hidden;
}

.restaurant-image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block; /* Pour supprimer l'espace sous l'image */
}
/* main contenair */
.block-gray {
    background-color: #f5f5f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    top: -20px; /* Ajustement pour recouvrir seulement 5% de l'image */
    display: flex; /* Ajouté pour la mise en page flex */
    align-items: center; /* Aligne les éléments verticalement au centre */
    justify-content: space-between; /* Place un espace maximal entre les éléments */
    padding: 10px 20px; /* Ajouté pour donner un peu d'espace autour des contenus */
    flex-direction: column;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.entree-title {
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid turquoise;
    text-align: left;
    display: inline-block;  /* Ajouté pour limiter le soulignement à la largeur du mot */
}

.francaise-title {
    margin: 0px; /* Ajustez cette valeur selon vos besoins */
}
.entree-container {
    width: 100%; 
    text-align: left;   /* Ceci est un exemple. Vous pouvez ajuster cette valeur pour aligner le h2 avec le h1 */
}


/*  heart */
.heart-icon {
    position: relative;
    width: 24px; 
    height: 24px; 
    font-size: 24px;
    margin-right: 20px;
}

.under-heart {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: linear-gradient(135deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1;
    transition: opacity 0.3s; /* Ajout d'une transition pour l'opacité */
    opacity: 0; /* Par défaut, c'est transparent */
}

.over-heart {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    z-index: 2;
}

.heart-icon:hover .under-heart {
    opacity: 1; /* Lors du survol, le cœur plein devient visible */
}

.heart-icon:hover .over-heart {
    opacity: 0; /* Lors du survol, le cœur vide est masqué */
}

.footer-group.footer-logo h1 {
    font-size: 24px;  /* Ajustez cette valeur à la taille que vous préférez */
    text-align: left;
}

/* Style pour le Bouton */

.container {
    text-align: center; /* Centre le texte horizontalement */
}
.explore-button {
    display: inline-block; 
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(135deg, #9356DC, #FF79DA);
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    transition: all 0.3s;  /* Ajout d'une transition pour un effet plus fluide */
    align-content: center;
}

.explore-button:hover {
    background: linear-gradient(135deg, #8152BC, #EE69D2);  /* Changement de couleur légèrement plus foncé */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  /* Ajout d'une ombre pour un effet de soulèvement */
    transform: translateY(-3px);  /* Légère montée du bouton */
}


/* BLOC de 3 */
.items-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    transition: background-color 0.3s;
}

.item-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    padding-right: 10%;
}

.item-description {
    font-size: 0.9em;
    margin: 10px 0;
    max-width: 80%;
}

.item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-direction: row;
}

.item-price {
    position: absolute;
    right: 5px;
    bottom: 10px;
    transition: transform 0.4s;
}

.clicked-effect {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: turquoise;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s;
    overflow: hidden;
}

.fa-check {
    color: turquoise;
    display: none;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.item-checkbox {
    display: none; 
}

.item:hover .fa-check {
    display: inline-block;
}

.item:hover .clicked-effect {
    width: 15%;
}

.item:hover .item-content .item-price {
    right: auto;
    left: calc(70% + 10px);
    top: 40%;
    transform: translateY(-50%);
}

.item:hover .item-content {
    flex-direction: column;
}

.item:hover .item-description {
    max-width: 50%;
}



/* FOOTER */
footer {
    background-color: rgb(40, 36, 36); 
    color: #FFF; 
    padding: 20px; 
    text-align: left;
    width: 100%; 
}

.footer-content h1 {
    font-weight: bold; 
}

.footer-line {
    margin-top: 10px; 
    margin-left: 5px;
    display: flex; 
    align-items: center; 
}
.footer-email-link {
    text-decoration: none;  /* supprime le soulignement */
    color: inherit;         /* utilise la couleur du texte parent */
}

.footer-email-link:hover {
    text-decoration: underline; /* ajoute un soulignement lors du survol pour indiquer qu'il s'agit d'un lien cliquable */
}

.footer-line i {
    margin-right: 10px; 
}

@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles pour Mobile */
@media (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'Votre police préférée';
    }
    .block-gray {
        width: 70%;
        margin: 0 auto;  /* Pour centrer le contenu horizontalement */
        background-color: #f2f2f2; /* Vous pouvez ajuster cette couleur en fonction de vos besoins */
        /* Ajoutez tout autre style que vous souhaitez pour <main> ici */
    }
    /* Styles généraux du pied de page */

/* Conteneur principal du pied de page */
.footer-wrapper {
    display: flex;
    justify-content: flex-end; /* Espace entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    width: 100%;
}

/* Contenu du pied de page (éléments du pied de page) */
.footer-content {
    display: flex;
    align-content: center; /* Modifié pour aligner les lignes flexibles */
    justify-content: space-between;
    width: 80%;
}
/* Supprimez la propriété white-space: nowrap; pour ces classes */
.footer-legal,
.footer-contact,
.footer-propose,
.footer-partner {
    order: 1;
}

/* Chaque groupe d'éléments (logo, mentions légales, contact, etc.) */
.footer-group {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    margin-left: 20px; /* Espace à gauche de chaque groupe */
}

/* Style spécifique pour le logo "Oh myfood" */
.footer-logo {
    order: 5; /* Ordre d'affichage */
    margin-left: auto; /* Pousse "Oh myfood" tout à droite */
    margin-top: 20px;
    font-size: 10px; /* Taille de police */
    font-weight: bold; /* Texte en gras */
}
.footer-group.footer-logo h1 {
    font-size: 24px;  /* Ajustez cette valeur à la taille que vous préférez */
}
}


